@import "compass";

// Sizes

$width: 960px;
$header_height: 120px;

// Mobile Sizes

// Colours

$darkGrey: #242323;
$darkBrown: #2F1804;
$lightBrown: #5E2D02;
$purple: #A113C8;
$lightGrey: whtie;

// Misc

$headerShadow: 0 0 15px rgba(0, 0, 0, 0.4);