@import "compass/reset";
@import "compass";
@import "variables";
@import "mobile";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400,300italic);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic);

html {
	background-color: $lightGrey;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, "Segoe Ui", Arial, sans-serif;
	color: $darkGrey;
}

body {
	overflow-x: hidden;
}

// Header

.header {
	width: 100%;
	height: $header-height;
	position: absolute;
	border-bottom: 1px solid $darkGrey*4;
	background-color: $lightGrey;
}

.headerContainer {
	width: $width;
	height: $header_height;
	margin: 0 auto;
	background-color: $lightGrey;

	ul {
		width: $width;

		li {
			height: $header_height;
			line-height: $header_height;
			display: inline-block;
			width: $width/5-5px;
			position: relative;
			top: -30px;

			a {
				color: $darkBrown;
				text-decoration: none;
				text-align: center;
				display: block;
				font-weight: 300;
				letter-spacing: 4px;
				text-transform: uppercase;
				font-size: 0.8em;
				@include transition(color 0.2s);

				&:hover {
					font-size: 0.9em;
					color: $purple;
				}
			}

			&:nth-child(3) {
				width: $width/5-7px;
				left: 1px;
				top: 10px;
				position: relative;
				background-color: $lightGrey;

				a {

					svg {
						fill: $darkBrown;
						@include transition(0.2s);

						&:hover {
							fill: $purple;
							@include transform(scale(1.1));
						}
					}
				}
			}
		}
	}
}

// Cover

.cover {
	background-image: url("../images/cover.jpg");
	background-size: cover;
	height: 400px;
	z-index: -2;
	top: $header_height;
	position: relative;
	border-bottom: 1px solid $darkGrey*4;
	@include box-shadow(inset $headerShadow);

	.box {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		background-color: rgba($darkBrown, 0.6);
		box-sizing: border-box;

		p {
			line-height: 400px;
			text-align: center;
			font-size: 4em;
			font-family: "Playfair Display";
			font-weight: 900;
			color: white;
			position: relative;
			@include text-shadow(1px 2px 0 $darkBrown);

			&:before, &:after {
				content: "";
				position: absolute;
				height: 10px;
				border-top: 1px solid white;
				border-bottom: 1px solid white;
				width: 20vw;
				top: 200px;
				margin-left: -21vw;
			}

			&:after {
				margin-left: 1vw;
			}
		}
	}
}

h5 {
	line-height: 1.3em;
	font-size: 4em;
	font-family: "Playfair Display";
	font-weight: 400;
	width: 90%;
	letter-spacing: 5px;
	text-align: center;
	margin: $header_height+100px auto 0;
	position: relative;

	& span {
		font-style: italic;
	}

}

// Content

.content {
	width: $width;
	margin: 30px auto 0;
	position: relative;
	top: $header_height;

	h1 {
		font-size: 3em;
		font-weight: 300;
		padding: 40px 10px 30px;
		letter-spacing: 0.1em;
	}

	p {
		font-size: 0.9em;
		font-weight: 400;
		padding: 0 0 10px;
		line-height: 1.4em;
	}

	.leftText {
		float: left;
	}

	.rightText {
		float: right;
	}

	.leftText, .rightText {
		padding: 0 20px 20px;
		width: $width/1.6;
		clear: both;
		text-align: justify;
	}

	.image {
		width: 250px;
		height: 250px;
		margin: 40px 20px 20px;
		position: relative;
		@include border-radius(9999px);
	}

	.left {
		float: left;
		clear: left;
	}

	.right {
		float: right;
		clear: right;
	}

	.placeholder {
		background-color: $lightGrey;
		border: 1px solid $darkBrown;
	}
}

// Footer

footer {
	position: relative;
	background-color: $darkBrown;
	top: $header_height+100px;
	height: 300px;
	width: 100%;
	color: $lightGrey;
	clear: both;

	ul {
		width: 48%;
		height: 190px;
		padding: 55px 0;

		li {
			line-height: 25px;
			font-size: 15px;

			a {
				color: $lightBrown*1.5;
				text-decoration: none;
				font-weight: 600;
				@include transition(0.1s);

				&:hover {
					color: $lightBrown*3;
				}
			}

			&:nth-child(4) {
				padding: 0 0 15px;
			}
		}
	}

	.footerLeft {
		float: left;

		li {
			text-align: right;
		}
	}

	.footerRight {
		float: right;

		li {
			text-align: left;
			color: $lightBrown*1.3;
			font-style: italic;
		}
	}
}